.body {
  background: rgba(21, 32, 43);
  color: rgb(255, 255, 255);
  min-height: 100vh;
  max-width: 100vw;
}
.my-navbar {
  background-color: brown;
}
.carta {
  background: rgba(21, 32, 43);
  width: 18rem;
}
.svg-icon {
  height: 4rem;
  fill: currentcolor;
}
.logo {
  text-align: center;
  padding: 20px 0;
}
