body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
}
.body {
  background: rgba(21, 32, 43);
  min-height: 101vh;
  color: rgb(247, 245, 255);
}
.carta {
  background: rgba(21, 32, 43);
  width: 100%;
  margin: 0;
  border: rgb(56, 68, 77) 1px solid;
}
/* .card-body {
  border: rgb(56, 68, 77) 1px solid;
} */

.svg-icon {
  height: 4rem;
  fill: currentcolor;
}
.borde-l {
  border-left: rgb(56, 68, 77) 1px solid;
}
.borde-b {
  border-bottom: rgb(56, 68, 77) 1px solid;
}
.borde-r {
  border-right: rgb(56, 68, 77) 1px solid;
}
